.footer
  .container
    .row
      .span12

        .pull-right
          %ul.unstyled.horizontal
            %li.right_10= link_to "Contact", '/contact'
            %li.right_10= link_to "Privacy", '/privacy'
            %li.right_10= link_to "Terms", '/terms'
            %li.right_10= link_to "About", '/about'
            %li= link_to "FAQ", '/faq'
